{% extends 'polygon/base.html' %}
{% block content %}
<div class="container ">
    <div class="row justify-content-md-center">
        <h1>Список всех полигонов</h1>
    </div>
</div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Название</th>
                    <th>Полигон в виде списка координат</th>
                    <th>Признак пересечения антимеридиана</th>
                </tr>
                </thead>
                <tbody>
                {% for polygon in polygons %}
                <tr>
                    <td>{{ polygon.name }}</td>
                    <td>
                        {% for point in polygon.polygon.coords %}
                        {{ point }}
                        {% endfor %}
                    </td>
                    <td>{{ polygon.intersects_antimeridian }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}